{% extends "admin/layout/user_base.html" %}
{% load static %}
{% block body_block %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <main class="content-area">
        <div class="container-fluid p-0">
            <div class="log-in-side-2">
                <div class="form-box">
                    <div class="card">
                        <div class="form-box-inner">
                            <div>
                                <div class="log-head">
                                    <h1 class=" mb-3">Change Password</h1>
                                </div>
                                <!-- log in form area -->
                                <div class="">
                                    <form method="post" name="reset_pw_form" id="reset_pw_form">
                                        <input type="hidden" id="pass-status" value="false"> 
                                        {% csrf_token %}
                                            <ul class="form-box">
                                                <li class="curr-pass-li">
                                                    <div>
                                                        <label for="">Current Password<span>*</span></label>
                                                        <div class="paswd-relative">
                                                            <input type="password" name="current_password" id="current_password" class="current_password form-control effect" placeholder="Enter current password">
                                                            <span class="form-icon eye-icon-button eye-icon"><img src="/static/admin/assets/img/eye-hidden.svg" alt=""></span>
                                                        </div>
                                                        <p class="new_pw text-danger" style="display: none;"></p>
                                                    </div>
                                                </li>
                                                <li class="curr-pass-li">
                                                    <div>
                                                        <label for="">New Password<span>*</span></label>
                                                        <div class="paswd-relative">
                                                            <input type="password" name="new_pw" id="new_pw" class="pw form-control effect" placeholder="Enter new password">
                                                            <span class="form-icon eye-icon-new-pass eye-icon"><img src="/static/admin/assets/img/eye-hidden.svg" alt=""></span>
                                                        </div>
                                                        <p class="new_pw text-danger" style="display: none;"></p>
                                                    </div>
                                                </li>
                                                <li class="curr-pass-li">
                                                    <div>
                                                        <label for="">Confirm Password<span>*</span></label>
                                                        <div class="paswd-relative">
                                                            <input type="password" name="confirm_pw" id="confirm_pw" class="pw form-control effect" placeholder="Confirm new password">
                                                            <span class="form-icon eye-icon-confirm-pass eye-icon"><img src="/static/admin/assets/img/eye-hidden.svg" alt=""></span>
                                                        </div>
                                                        <p class="confirm_pw text-danger" style="display: none;"></p>
                                                    </div>
                                                </li>
                                              
                                            </ul>
                                            <div class="d-flex button-block mt-20">
                                                {% comment %} <button type="submit" id="reset_submit" href="javascript:void(0);" class="gradient-button"><span class="btn-helper"></span>Submit</button> {% endcomment %}
                                                <!-- <a type="submit" class="gradient-button btn-disabled"><span class="btn-helper"></span>Submit</a> -->
                                                <button type="submit" id="submitButton" class="btn btn-lg btn-primary">Submit</button>
                                                <a href="/sec-access/statistics/" class="btn cancel">Cancel</a>
                                            </div>
                                            <div style="margin-top:10px;">
                                                <p class="text-danger error_message"></p>
                                            </div>
                                            

                                            </form>
                                    {% if messages %}
                                    {% for message in messages %}
                                            <div class="alert-container">
                                                <div class="alert {% if message.tags %} == 'error' alert-danger {{ message.tags }} {% else %} alert-success {{message.tags}} {% endif %}"
                                                     role="alert">{{ message|lower|capfirst }}</div>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <!-- log in form area end -->
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </main>
{% endblock body_block %}
{% block page_script %}
   <script>

        $(document).on("click","#submitButton",function(e){
            e.preventDefault();
            var form = $('[name=reset_pw_form]')
            var new_pw = $("[name=new_pw]").val()
            var confirm_pw = $("[name=confirm_pw]").val()
            var current_pw = $("[name=current_password]").val()
            var url = '/change-password/'
            if(!current_pw.trim()){
              $(".error_message").text("Current password is required")
              $(".error_message").show()
              setTimeout(function(){
                $(".error_message").hide()
              },3500)
              return false
            }

            if(!new_pw.trim()){
              $(".error_message").text("New password is required")
              $(".error_message").show()
              setTimeout(function(){
                $(".error_message").hide()
              },3500)
              return false
            }
            if(!confirm_pw.trim()){
              $(".error_message").text("Confirm password is required")
              $(".error_message").show()
              setTimeout(function(){
                $(".error_message").hide()
              },3500)
              return false
            }
            if(new_pw.length < 6){
              $(".error_message").text("Password must be atleast 6 characters")
              $(".error_message").show()
              setTimeout(function(){
                $(".error_message").hide()
              },3500)
              return false
            }
            if(confirm_pw.length < 6){
              $(".error_message").text("Password must be atleast 6 characters")
              $(".error_message").show()
              setTimeout(function(){
                $(".error_message").hide()
              },3500)
              return false
            }
            if(new_pw != confirm_pw){
              $(".error_message").text("New password and confirm password should be same")
              $(".error_message").show()
              setTimeout(function(){
                $(".error_message").hide()
              },3500)
              return false
            }
          
            var password_match = /^(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.*[!@#$%&*])[a-zA-Z0-9!@#$%&*]+$/.test(new_pw)
            if(!password_match){
              $(".error_message").text("Password must contain atleast 1 uppercase, lowercase, number and special charcter")
              $(".error_message").show()
              setTimeout(function(){
                $(".error_message").hide()
              },4000)
              return false
            }
            form.submit()
            
        })

        $(document).on("click", ".eye-icon-button", function() {
        var x = document.getElementById("current_password");
        if (x.type === "password") {
            x.type = "text";
            $('.eye-icon-button').html('<img src="/static/admin/assets/img/eye_show.svg" alt="">')
        } else {
            x.type = "password";
            $('.eye-icon-button').html('<img src="/static/admin/assets/img/eye-hidden.svg" alt="">')
        }
        })
        $(document).on("click", ".eye-icon-new-pass", function() {
        var x = document.getElementById("new_pw");
        if (x.type === "password") {
            x.type = "text";
            $('.eye-icon-new-pass').html('<img src="/static/admin/assets/img/eye_show.svg" alt="">')
        } else {
            x.type = "password";
            $('.eye-icon-new-pass').html('<img src="/static/admin/assets/img/eye-hidden.svg" alt="">')
        }
    })

    $(document).on("click", ".eye-icon-confirm-pass", function() {
        var x = document.getElementById("confirm_pw");
        if (x.type === "password") {
            x.type = "text";
            $('.eye-icon-confirm-pass').html('<img src="/static/admin/assets/img/eye_show.svg" alt="">')
        } else {
            x.type = "password";
            $('.eye-icon-confirm-pass').html('<img src="/static/admin/assets/img/eye-hidden.svg" alt="">')
        }
    })
   </script>
   <style>
    .form-control[readonly] {
    background-color: #fff;
    }
    .django-ckeditor-widget{
            display: block !important;
        }
        .inner-addon { 
    position: relative; 
    }

    /* style icon */
    .inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    cursor: pointer;
    }

    /* align icon */
    .left-addon .glyphicon  { 
        right:  0px;
        top:27px;
    }
    .right-addon .glyphicon { right: 0px;top:0
    }

    /* add padding  */
    /* .left-addon input  { padding-left:  30px; } */
    /* .right-addon input { padding-right: 30px; } */

    .input-wrapper-mobile .form-control {
    padding-left: 52px;
}

.input-wrapper-mobile span{
    position: absolute;
    left:20px;
    top:34px;
    color: #060606 !important;
    font-size: 14px;
    font-weight: 500;
}
.outer-wrapper{ 
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}
.inner-wrapper{
    width:48%;
}
.form-box label span {
    color: red;
}
.reset{
    height: 40px !important;
    line-height: 2.5 !important;
    text-transform: uppercase !important;
    font-weight: 600 !important;
    color: #4A469E !important;
    /* width: 250px; */
    margin-left: 20px;
    margin-top: 10px;
}
.form-box li{
    margin: 10px 0;
}
a.cancel{
    font-size: 14px;
    font-weight: 600;
    border: 1px solid #4A469E;
    color: #4A469E;;
    min-width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    padding: 3px 15px;
    font-size: 13px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    text-transform: uppercase;
    line-height: 1.5 !important;
    margin-top: 10px;
    margin-left: 15PX;
}
a.cancel:hover{
    background-color: #f4f5fa;
}

   </style>
   {% endblock %}