{% extends "admin/layout/base.html" %}
  {% load static %}
   {% block body_block %}  
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">    
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      <div class="log-in-side-2">
      <div class="form-box">
         <div class="card-body">
            <div class="form-box-inner">
               <div>
                  <div class="log-head">
                     <h1 class=" mb-3">Recover Password</h1>
                     <p class="text-primary mb-3">Just enter your email address below and we'll send you a link to reset your password!</p>
                  </div>
                  <!-- log in form area -->
                  <div class="">
                     <form class="row" autocomplete="off" novalidate method="post" >
                        {% csrf_token %}
                        <div class="mb-4">
                           <!-- <label class="form-label">Email</label> -->
                           <div class="input-wrapper">
                              <label class="float" for="user">Email Address</label>
                              <input type="text" class="input-item form-control effect" name="email" placeholder="Enter your email">
                              
                              <p class="text-danger mt-2 mb-0">{{ form.email.errors.as_text  }}</p>
                           </div>
                        </div>

                        <div class="mb-1">
                            <a href="/sec-access/signin" class="forget">Back to login</a>
                         </div>
                
                        <div class="text-center mt-3">
                           <button type="submit" class="btn btn-lg btn-primary w-100">Submit</button>
                        </div>
                     </form>
                     <p class="error_message" style="display:none;">
                
                  </div>
                  <!-- log in form area end -->
               </div>
            </div>
         </div>
      </div>
      </div>
      {% endblock %}   
      {% block page_script %}
      <script>
      {% if messages %}
         {% for message in messages %}            
            var message = "{{ message }}"
            var tag = "{{ message.tags }}"
            if(tag=="error"){
               $(".error_message").css("color","red")
            }else{
               $(".error_message").css("color","black")
            } 
            $(".error_message").text(message)
            $(".error_message").show()
            setTimeout(function(){
               $(".error_message").hide()
            },4000)
            {% endfor %}
            {% endif %}
      </script>
      <script>         
        $(document).on("click", ".eye-icon-new-pass", function() {
        var x = document.getElementById("password");
        if (x.type === "password") {
            x.type = "text";
            $('.eye-icon-new-pass').html('<img src="/static/admin/assets/img/eye_show.svg" alt="">')
        } else {
            x.type = "password";
            $('.eye-icon-new-pass').html('<img src="/static/admin/assets/img/eye-hidden.svg" alt="">')
        }
      })
      </script>
          {% endblock page_script %}
 