{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'images/favicon-32x32.png' %}
    ">
    <title>Privacy Policy</title>
</head>
<body>
   <div class="privacy-container">
    <div class="policy-header">
    <img src="/static/admin/img/logo.png" alt="logo">
    </div>
        <div class="content">
            <h3>Privacy Policy</h3>
            <p>Last updated on …..<br>Trainpad Limited and/or its affiliates (‘Trainpad’, the ‘Company’, ‘We’, ‘Us’ and ‘Our’) respect your </p>
            <p>privacy and is committed to protecting it through its compliance with its privacy policies. This policy describes:</p>
            <ul>
                <li>the types of information that Trainpad may collect from you when you access or use its websites, applications and other online services (collectively, referred as "Services"); and</li>
                <li>its practices for collecting, using, maintaining, protecting and disclosing that information.</li>
            </ul>
            <p>This policy applies only to the information Trainpad collects through its Services, in email, text and other electronic communications sent through or in connection with its Services.
            </p>
            <p>This policy DOES NOT apply to information that you provide to, or that is collected by, any third-party, or in-app advertisements and social networks that you use in connection with its Services. Trainpad encourages you to consult directly with such third-parties about their privacy practices.
                Please read this policy carefully to understand Trainpad’s policies and practices regarding your information and how Trainpad will treat it. By accessing or using its Services and/or registering for an account with Trainpad, you agree to this privacy policy and you are consenting to Trainpad’s collection, use, disclosure, retention, and protection of your personal information as described here. If you do not provide the information Trainpad requires, Trainpad may not be able to provide all of its Services to you.
                Your data controller is responsible for the collection, use, disclosure, retention, and protection of your personal information in accordance with its privacy standards as well as any applicable national laws. Your data controller may transfer data to other members of Trainpad as described in this Privacy Policy. Trainpad may process and retain your personal information on its servers in the UAE where its data centers are located, and/or on the servers of its third parties (in or outside the UAE), having contractual relationships with Trainpad.
                This policy may change from time to time, your continued use of Trainpad’s Services after it makes any change is deemed to be acceptance of those changes, so please check the policy periodically for updates.
                </p>
        </div>

        <div class="content">
            <h4>The information we collect and how we use it</h4>
           <p>Trainpad Limited ("Trainpad," the "Company," "we," "us," and "our”) collects several types of information from and about users of our Services, including: </p>
           <ul>
            <li>Your Personal Information("PI") - Personal Information is the information that can be associated with a specific person and could be used to identify that specific person whether from that data, or from the data and other information that we have, or is likely to have access to. We do not consider personal information to include information that has been made anonymous or aggregated so that it can no longer be used to identify a specific person, whether in combination with other information or otherwise.</li>
            <li>Information about your internet connection, the equipment you use to access our Services and your usage details. </li>
        </ul>

        <p>We collect this information:</p>
        <ul>
            <li>directly from you when you provide it to us; and/or</li>
            <li>automatically as you navigate through our Services (information collected automatically may include usage details, IP addresses and information collected through cookies, web beacons and other tracking technologies).</li>
        </ul>
        </div>

        <div class="content">
            <h4>Information you provide us</h4>
           <p>The information we collect on or through our Services may include:
        </p>
           <ul>
            <li>Your account information: Your full name, email address, postal code, password and other information you may provide with your account, such as your gender, mobile phone number and website. Your profile picture that will be publicly displayed as part of your account profile. In such cases, we fetch and store whatever information is made available to us by you through these sign-in services.</li>
            <li>Your preferences: Your preferences and settings such as language.</li>
            <li>Your searches and other activities: The search terms you have looked up and results you selected.</li>
            <li>Your browsing information: How long you used our Services and which features you used; the ads you clicked on.
            </li>
            <li>Your communications: Communications between you and other users (‘Drivers’ or users of ‘Trainpad delivery application platform’) through our Services; your participation in a survey, poll, sweepstakes, contest or promotion scheme; your request for certain features (e.g., newsletters, updates or other products); your communication with us about employment opportunities posted to the services.
            </li>
            <li>Information of the vehicle - Exclusively for the ‘Drivers’ or users of ‘Trainpad delivery application platform’ we also collect information about the vehicle and share it with other users so that they can make an informed decision regarding their order and needs for the transit. </li>
        </ul>

        <p>We use the information you provide to us to enhance the functionality and improve the quality of our Services, and to personalize your experience while using our Services. We also use this information to display relevant advertising, provide support to you, communicate with you, and comply with our legal obligations.
        </p>
   </div>
   <div class="content">
    <h4>Information We Collect Through Automatic Data Collection Technologies
    </h4>
    <p>We may automatically collect certain information about the computer or devices (including mobile devices) you use to access the Services, and about your use of the Services, even if you use the Services without registering or logging in.
    </p>
    <ul>
        <li>Usage information: Details of your use of our Services, including traffic data, location data, logs and other communication data and the resources that you access and use on or through our Services.
        </li>
        <li>Computer and device information: Information about your computer, Internet connection and mobile device, including your IP address, operating systems, platforms, browser type, other browsing information (connection, speed, connection type etc.), device type, device's unique device identifier, mobile network information and the device's telephone number.
        </li>
        <li>Location information: Our applications collect real-time information about the location of your device, as permitted by the user so that we can provide the user information for nearby vehicles on the map, that they shall consider for making their order. Also for ‘Drivers’ or users of ‘Trainpad delivery application platform’, we collect device location in background for tracking the truck and order until the delivery is completed and transit is honored.
        </li>
        <li>Mobile device IDs: Unique mobile device identifier (e.g. IDFA or other device IDs on Apple devices like the iPhone and iPad), if you're using our Services on a mobile device, we may use mobile device IDs (the unique identifier assigned to a device by the manufacturer), instead of cookies, to recognize you. We may do this to store your preferences and track your use of our applications. Unlike cookies, mobile device IDs cannot be deleted. Advertising companies may use device IDs to track your use of our applications, track the number of advertisements displayed, measure advertising performance and display advertisements that are more relevant to you. Analytics companies may use mobile device IDs to track your usage of our applications.
        </li>
        <li>Your preferences: Your preferences and settings such as language.
        </li>
        <li>Your activity on the Services: Information about your activity on the Services, such as your search queries, comments, domain names, search results selected, number of clicks, pages viewed and the order of those pages, how long you visited our Services, the date and time you used the Services, error logs, and other similar information.
        </li>
        <li>Mobile status: For mobile application users, the online or offline status of your application.
        </li>
    </ul>
   </div>

   

<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: sans-serif;
    }
    .privacy-container{
        max-width: 1280px;
        padding: 20px;
        margin: 0 auto;
    }
    .content{
        margin: 50px 0;
    }
    .content h3{
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 20px;
    }
    .content h4{
        font-size: 22px;
        line-height: 32px;
        margin-bottom: 20px;
    }
    .content p{
        font-size: 15px;
        line-height: 1.5;
        font-weight: 400;
        margin-bottom: 16px;
        color: #495057;
    }
    .content ul{
        padding-left: 20px;
    }
    .content ul li{
        font-size: 15px;
        line-height: 1.5;
        font-weight: 400;
        color: #495057;
    }
    .policy-header{
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: solid 20px #4A8BD9;
        border-bottom: solid 20px #B479E4;
    }
    .policy-header img{
        width: 150px;
        margin: 10px 0;
    }
</style>
</div></body>
</html>