{% extends "admin/layout/base.html" %}
  {% load static %}
   {% block body_block %}  
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">    
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      <div class="log-in-side-2">
      <div class="form-box">
         <div class="card-body">
            <div class="form-box-inner">
               <div>
                  <div class="log-head">
                     <h1 class=" mb-3">Reset Password</h1>
                  </div>
                  <!-- log in form area -->
                  <div class="">
                     <form action="{% url 'appdashboard:confirm_forget_password' %}" class="reset-password-form" name="reset-password-form" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="user" value="{{user}}" >
                        <div class="mb-4">
                           <!-- <label class="form-label">Email</label> -->
                           <div class="input-wrapper">
                              <label class="float" for="user">New Password</label>
                              <div class="paswd-relative">
                                 <input type="password" class="form-control effect" name="password1" id="new_pw" placeholder="Enter New Password">
                                 <span class="form-icon eye-icon-new-pass eye-icon"><img src="/static/admin/assets/img/eye-hidden.svg" alt=""></span>
                              </div>
                              <p class="text-danger mt-2 mb-0">{{ form.email.errors.as_text  }}</p>
                           </div>
                           </div>
                           <div class="mb-4">
                           <div class="input-wrapper">
                            <label class="float" for="user">Confirm Password</label>
                            <div class="paswd-relative">
                              <input type="password" class="form-control effect" name="password2" id="confirm_pw" placeholder="Confirm New Password">
                              <span class="form-icon eye-icon-confirm-pass eye-icon"><img src="/static/admin/assets/img/eye-hidden.svg" alt=""></span>
                           </div>
                            <p class="text-danger mt-2 mb-0">{{ form.email.errors.as_text  }}</p>
                           </div>
                         </div>
                        </div>
                
                        <div class="text-center mt-3">
                           <button type="submit" class="btn btn-lg btn-primary w-100">Submit</button>
                        </div>
                     </form>
                     <p class="error_message" style="display:none;">
                
                  </div>
                  <!-- log in form area end -->
               </div>
            </div>
         </div>
      </div>
      </div>
      {% endblock %}   
      {% block page_script %}
      <script>
      {% if messages %}
         {% for message in messages %}            
            var message = "{{ message }}"
            var tag = "{{ message.tags }}"
            if(tag=="error"){
               $(".error_message").css("color","red")
            }else{
               $(".error_message").css("color","black")
            } 
            $(".error_message").text(message)
            $(".error_message").show()
            setTimeout(function(){
               $(".error_message").hide()
            },4000)
            {% endfor %}
            {% endif %}
      </script>
      <script>         
        $(document).on("click", ".eye-icon-new-pass", function() {
        var x = document.getElementById("new_pw");
        if (x.type === "password") {
            x.type = "text";
            $('.eye-icon-new-pass').html('<img src="/static/admin/assets/img/eye_show.svg" alt="">')
        } else {
            x.type = "password";
            $('.eye-icon-new-pass').html('<img src="/static/admin/assets/img/eye-hidden.svg" alt="">')
        }
    })

    $(document).on("click", ".eye-icon-confirm-pass", function() {
        var x = document.getElementById("confirm_pw");
        if (x.type === "password") {
            x.type = "text";
            $('.eye-icon-confirm-pass').html('<img src="/static/admin/assets/img/eye_show.svg" alt="">')
        } else {
            x.type = "password";
            $('.eye-icon-confirm-pass').html('<img src="/static/admin/assets/img/eye-hidden.svg" alt="">')
        }
    })
      </script>
          {% endblock page_script %}
 