{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <meta name="description" content="Trainpad | Fitness App">
   <meta name="author" content="Trainpad | Fitness App">
   <meta name="keywords" content="Trainpad | Fitness App">
   <link rel="preconnect" href="https://fonts.gstatic.com">
   <link rel="shortcut icon" href="{% static 'images/favicon-32x32.png' %}" />
   <title>Trainpad App | Admin</title>
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
   <link href="{% static 'admin/assets/css/app.css' %}" rel="stylesheet">
   <link href="{% static 'admin/assets/css/fonts.css' %}" rel="stylesheet"> 
   <link href="{% static 'admin/assets/css/custom.css' %}" rel="stylesheet">
   <link href="{% static 'admin/assets/css/sumoselect.css' %}" rel="stylesheet">
   <link href="{% static 'admin/assets/css/style.css' %}" rel="stylesheet">
   <link href="{% static 'admin/assets/css/responsive.css' %}" rel="stylesheet">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.3/assets/owl.carousel.min.css"/>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.0.0-beta.3/assets/owl.theme.default.min.css"/>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css"/>


   
</head>
<body>
   
   <main class="w-100">
     <section class="log-in">
        <div class="col-md-12">
           <div class="d-flex login-bg">
              <div class="col-xl-6 col-md-6 col-sm-6 col-xs-6">
                 <div class="log-in-side-1">
                    <div>
                       <div class="log-logo mb-4">
                        <img src="{% static 'admin/img/logo-white.png' %}" >
                        {% comment %} <h1 class="text-white">Trainpad App</h1>{% endcomment %}
                       </div>
                       {% comment %} <p class="text-white">Advancing Healthcare</p> {% endcomment %}
                    </div>
                 </div>
              </div>
              <div class="col-xl-6 col-md-6 col-sm-6 col-xs-6">
               
                {% block body_block %}
                {% endblock %}
              </div>
           </div>
        </div>
     </section>
  </main>

  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->

  <script src="{% static 'admin/assets/js/app.js' %}"></script>
  <script src="{% static 'admin/assets/js/jquery.sumoselect.js' %}"></script>
  <script src="{% static 'admin/assets/js/custom.js' %}"></script>
  <script src="{% static 'admin/assets/js/validate.js' %}"></script>

  <script type="text/javascript">
     function showPass() {
     var x = document.getElementById("password");
     if (x.type === "password") {
     x.type = "text";
     } else {
     x.type = "password";
     }
     }


  </script>
</body>
{% block page_script %}

{% endblock %}
</html>