{% extends "admin/layout/user_base.html" %}
{% load static %}
{% block body_block %}    
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/apexcharts@latest/dist/apexcharts.min.css">




<main class="content-area" style="overflow: hidden;">
   <div class="container-fluid p-0">
      <!-- right side content box  -->
      <div class="main-box pd-0">
            <div class="row top-bar-heading-box mt-3">
               <div class="col-sm-6">
                  <h3 class="top-bar-heading">Dashboard</h3>
               </div>
               {% comment %} <div class="col-sm-6" align="right">
                  <a class="nav-link" href="{% url 'appdashboard:dashboard' %}">
                     <button class="btn btn-add" data-bs-toggle="modal" data-bs-target="#addproduct"><span data-feather="plus"></span>&nbsp;Add Product</button>
                  </a>
               </div>  {% endcomment %}
            </div>
            <div class="add-product-sec mt-2">           
               <div class="product-area-list row">
                  <!-- prodcut box  -->
                  <div class=" product-box dashboard-box bx-sd mb-3">
                     <div class="row">
                        <a href="/sec-access/user?usertype=normal_user" class="product-content">
                           <h3 class="mb-4" align="center" >Users</h3>
                           <h1 class="Count" align="center">{% if users_count %}{{ users_count }}{% else %} 0 {% endif %}</h1>
                        </a>
                     </div>
                  </div>
                  <!-- prodcut box  -->
                  <div class="product-box dashboard-box bx-sd mb-3">
                     <div class="row">
                        <a href="{% url 'appdashboard:gym'%}" class="product-content">
                           <h3 class="mb-4" align="center" >Gym</h3>
                           <h1 class="Count" align="center">{% if gym %}{{ gym }}{% else %} 0 {% endif %}</h1>
                        </a>
                     </div>
                  </div>
                  <!-- prodcut box  -->
                  <div class=" product-box dashboard-box bx-sd mb-3">
                     <div class="row">
                        <a href="/sec-access/trainer/" class="product-content">
                           <h3 class="mb-4" align="center" >Trainer</h3>
                           <h1 class="Count" align="center">{% if trainer %}{{ trainer }}{% else %} 0 {% endif %}</h1>
                        </a>
                     </div>
                  </div>
                  <div class=" product-box dashboard-box bx-sd mb-3">
                     <div class="row">
                        <a href="/sec-access/expertlog" class="product-content">
                           <h3 class="mb-4" align="center" >Expert log</h3>
                           <h1 class="Count" align="center">{% if experlog %}{{ experlog }}{% else %} 0 {% endif %}</h1>
                        </a>
                     </div>
                  </div>

                  <div class=" product-box dashboard-box bx-sd mb-3">
                     <div class="row">
                        <a href="/sec-access/help-request" class="product-content">
                           <h3 class="mb-4" align="center" >Help Requests</h3>
                           <h1 class="Count" align="center">{% if help_request %}{{ help_request }}{% else %} 0 {% endif %}</h1>
                        </a>
                     </div>
                  </div>
               </div>
               <!-- prodcut box  end-->
            </div>
         
         </div>
      </div>
      <!-- right side content box  -->
      <div class="row" style="margin-right: 8px;align-items-stretch">
         <div class="col-lg-6 col-md-6 myChartDiv" >
            <div class="graph-wrapper">
               <span class="center">Yearly user/trainer Registration</span>
            <div id="chart" ></div>
            </div>
         </div>
         <div class="col-lg-6 col-md-6 myChartDiv">
            <div class="graph-wrapper">
               <span class="center">Top 5 Gym with Users count</span>
               {% if gym_user_count|length == 0 %}
                  <div class="center" style="margin-top:20%;">No data.</div>
               {% endif %}
               <div class="doughnut-graph-wrapper">
                  <canvas id="donutchart" class="donutCanvas"></canvas>
               </div>
               {% comment %} <ul class="graph-indicator">
                  <li> <div class="indication-color navy-blue"></div><p class="gym-title">Snap Fitness Downtown</p></li>
                  <li> <div class="indication-color green"></div><p class="gym-title">Eagle Gym</p></li>
                  <li> <div class="indication-color red"></div><p class="gym-title">24 Hours Fitness</p></li>
                  <li> <div class="indication-color yellow"></div><p class="gym-title">Stuart Todd</p></li>
                  <li> <div class="indication-color blue"></div><p class="gym-title">Planet Fitness</p></li>
               </ul> {% endcomment %}
            </div>
         </div>
      </div>
</main>

<style>
   {% comment %} .donutCanvas{
      height: 210px!important;
      display: block!important;
      box-sizing: border-box!important;
      width: 350px!important;
      margin-top: 8%;
      margin-left:5%
   } {% endcomment %}
   {% comment %} .myChartDiv {
      width: 49%;
      height: 300px;
      background-color: #ffffff;
   }   {% endcomment %}
   .graph-wrapper {
      min-height: 400px;
      background-color: #ffffff;
      padding: 20px;
      border-radius: 8px;
      border: 1px solid #CBD6E282;
  }
   .apexcharts-toolbar,.apexcharts-menu-icon{
            display: none;
        }
   .product-area-list .product-box{
      width: calc(20% - 1%);
      margin-right:0.5%;
      margin-left: 0.5%;
   }
   .product-area-list{
      margin-left: -28px;
      margin-right: -5px;
   }
   .mb-4 {
      margin-bottom: 1rem !important;
      margin-top: 0.5rem !important;
   }
   .apexcharts-canvas{
      background-color: #ffff;
   }
   .apx-legend-position-right{
      position: absolute;
      left: auto;
      top: 100px!important;
      right: 20px!important;
   }
   .center{
      padding-top: 5px;
      display: flex;
      justify-content: center;
      font-weight: 400;     
      font-size: 18px; 
   }
   .doughnut-graph-wrapper{
      margin-top:30px;
      display:flex;
      justify-content:center;
      height:250px;
   }
   .myChartDiv{
      margin-bottom:20px;
   }
   


</style>

<script src="https://cdn.jsdelivr.net/npm/apexcharts@latest/dist/apexcharts.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>

   $('.Count').each(function () {
      var $this = $(this);
      jQuery({ Counter: 0 }).animate({ Counter: $this.text() }, {
         duration: 5000,
         easing: 'swing',
         step: function () {
            $this.text(Math.ceil(this.Counter));
         }
      });
   });

    var userCountData = JSON.parse('{{ user_count|safe }}');
    var trainerCountData = JSON.parse('{{ trainer_count|safe }}');
    var options = {
      
      colors : ['#4A8BD9', '#B479E4'],
      series: [
        {
          name: 'Normal User',
          data: userCountData
        },
        {
          name: 'Trainer',
          data: trainerCountData
        }
      ],
      chart: {
        height: 300,
        type: 'bar',
      },
      plotOptions: {
        bar: {
          borderRadius: 3,
          dataLabels: {
            position: 'top', // top, center, bottom
          },
        }
      },
      dataLabels: {
        enabled: true,
        formatter: function (val, timestamp, index) {
          if(val != 0){
            return val;
          }
        },
        offsetY: -20,
        style: {
          fontSize: '12px',
          colors: ["#304758"]
        }
      },
      xaxis: {
        categories: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
        position: 'bottom',
        axisBorder: {
          show: false
        },
        axisTicks: {
          show: false
        },
        crosshairs: {
          fill: {
            type: 'gradient',
            gradient: {
              colorFrom: '#D8E3F0',
              colorTo: '#BED1E6',
              stops: [0, 100],
              opacityFrom: 0.4,
              opacityTo: 0.5,
            }
          }
        },
        tooltip: {
          enabled: true,
        }
      },
      yaxis: {
        axisBorder: {
          show: false
        },
        axisTicks: {
          show: false,
        },
        labels: {
          show: true,
          formatter: function (val) {
            return val;
          }
        }
      },
    };

   var chart = new ApexCharts(document.querySelector("#chart"), options);
   chart.render();



   // pie chart
   // gym_user_count = JSON.parse('{{ gym_user_count|safe }}');
   // gym_labels = {{ gym_labels|safe }};

   // console.log(gym_labels);

   // var donutoptions = {
   // series: gym_user_count,
   // title: {
   //    text: "Top 5 Gym with user count",
   //    align: "center",
   //    margin: 10,
   //    offsetX: 0,
   //    offsetY: 0,
   //    floating: false,
   //    style: {
   //       fontSize: "18px",
   //       fontWeight: "700",
   //       fontFamily: 'Open Sans',
   //       color: "#263238",
   //    },
   // },
   // chart: {
   //    width: 500,
   //    height: 300,
   //    type: 'donut',
   //    offsetX: 50

   // },
   // plotOptions: {
   //    pie: {
   //       donut: {
   //       size: '85%', // Adjust the donut size to make it thinner
   //       borderRadius: '5px',
         
   //       }
   //    }
   // },
   // labels: gym_labels,
   // colors: ['#00A5A8', '#626E82', '#FF7D4D', '#FF4558', '#16D39A'],
   // dataLabels: {
   //    enabled: false 
   // },
   // stroke: {
   //    width: 4 ,
   // },
   // responsive: [{
   //    breakpoint: 600,
   //    options: {
   //       chart: {
   //          width: 500,
   //       },
   //       legend: {
   //          position: 'bottom'
   //       }
   //    }
   // }]
   // };
   
   // var donutchart = new ApexCharts(document.querySelector("#donutchart"), donutoptions);
   // donutchart.render();

   
   var ctx = document.getElementById('donutchart').getContext('2d');
   gym_user_count = JSON.parse('{{ gym_user_count|safe }}');
   gym_labels = {{ gym_labels|safe }};
   var data = {
      labels: gym_labels,
      datasets: [{
         data: gym_user_count,
         backgroundColor: ['#074d81', '#20cbc2', '#ff6384', '#ffce56','#40b2e6'],
         hoverBackgroundColor: ['#1a70b1', '#22b1a9', '#fb5074', '#f9be2f','#25b2f3'],
         borderWidth: 0,
         borderRadius: 10 // Adjust the value to control the roundness of the donut slices
      }]
   };

   var options = {
      // cutoutPercentage: 40,
      cutout: 80,
      responsive: true,
      // maintainAspectRatio: false,
      plugins: {
         legend: {
            position: 'right',
            labels: {
               padding:20,
           }
           //display:false,
         }
      },
      title: {
         display: true,
         fontSize: 20, // <--- this is not a managed option since CHART.JS 3
         text: 'Tickets'
      },
      spacing: 10,
      aspectRatio: 1.7,
      tooltips: {
         enabled: true
      }
   };


   var donutchart = new Chart(ctx, {
      type: 'doughnut',
      data: data,
      options: options
   });


</script>




{% endblock body_block %}
   