{% extends "admin/layout/user_base.html" %}
{% load static %}
{% block body_block %}
{% load my_filters %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <main class="content-area">
        <div class="container-fluid p-0">
            <!-- top search bar -->
            <div class="top-seach-bar mb-0">
                <!-- top bar form  -->
                <form class="search-form mt-2" id="userForm">
                    <div class="add-product-filter user_table_product_filter">
                        <div class="row align-items-center">
                            <div class="col-xl-2 col-lg-2">
                                <h3 class="top-bar-heading">Badge</h3>
                            </div>
                            <div class="col-xl-10 col-lg-10">
                                <div class=" row_2 align-items-top justify-content-end ">
                                    <div class="top-search-wrapper">
                                        <div class="form-group">
                                            <input type="text" name="search" value="{{ request.GET.search }}"
                                                   class="form-control" placeholder="Search" id="name">
                                        </div>  
                                        <div><span id="error_msg"></span></div>

                                    </div>
                                    <div class="table-filter">
                                        <div class="filter-box">
                                                <p>More Filters</p>
                                                    <img src="{% static 'admin/img/filter_icon.svg' %}"/>   
                                         </div>
                                        <div class="filter-wrapper ">
                                            <div class="filter-title">
                                                <!-- <h5>Sort By</h5> -->
                                                <div><span id="error_msg2"></span></div>

                                                <span class="close-filter">×</span>  
                                            </div>                                    
                                                <ul class="filter-list"> 
                                                <li class="filter-item">  
                                                    <div class="top-select-wrapper ">
                                                        <div class="form-group">
                                                            <select class="form-control filter-select" name="category" id="category">
                                                                <option value="">Select category</option>
                                                                {% for cat in badge_category %}
                                                                    <option value={{cat.id}} {% if request.GET.category|to_int == cat.id|to_int %}selected{% endif %}>{{cat.name}}</option>    
                                                                {% endfor %}   
                                                            </select>
                                                        </div>
                                                    </div>  
                                                </li> 
                                                <!-- <li class="filter-item"> 
                                                    <div class="top-select-wrapper ">
                                                        <div class="form-group">
                                                            <select class="form-control filter-select" name="timelimit" id="timelimit">
                                                                <option value="">Select Time limit</option>
                                                                <option value="daily" {% if request.GET.timelimit == 'daily' %}selected{% endif %}>Daily</option>
                                                                <option value="weekly" {% if request.GET.timelimit == 'weekly' %}selected{% endif %}>Weekly</option>
                                                                <option value="monthly" {% if request.GET.timelimit == 'monthly' %}selected{% endif %}>Monthly</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </li> -->
                                                <li class="filter-item two-item-filter">  
                                                    <div class="date-selector-wrapper">
                                                        <div class="form-group">
                                                            <input type="text" name="stDate" value="{{ request.GET.stDate }}" class="form-control" id="stDate" placeholder="From Date">
                                                        </div>
                                                    </div>  
                                                    <div class="date-selector-wrapper">
                                                        <div class="form-group">
                                                            <input type="text" name="endDate" value="{{ request.GET.endDate }}" class="form-control" id="endDate" placeholder="To Date">
                                                        </div>
                                                    </div>
                                                </li> 
                                            </ul> 
                                            </ul> 
                                        </div>
                                    </div>
                                    <div class=" top-action-wrapper d-flex align-items-top">
                                        <button type="submit" class="btn btn-detail" id="sbmit">Filter</button>
                                        <a href="{% url 'appdashboard:badge'%}" class="reset">Reset</a>
                                        <a href="{% url 'appdashboard:badge-addEdit' id=0 %}">
                                            <button type="button" class="btn btn-detail"  >Create</button>
                                        </a>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>

            <!-- top bar form  end-->
        </div>
        <!-- top search bar end-->

        <!-- right side content box  -->
        <div class="main-box pd-0">

            <div class="add-product-sec">
                <div class="product-area-list">
                </div>
                <div class="product-area-list list-head" >
                    <div class="product-box-heading gymIndexData bx-sd mb-1">
                        <div class="row">
                            <div class="col-xl-1 col-lg-1">
                                <div class="product-content">
                                    SL
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-2">
                                <div class="product-content">
                                  Name
                              </div>
                          </div>
                          <div class="col-xl-2 col-lg-2">
                              <div class="product-content">
                                  Badge Category
                              </div>
                          </div>
                          <!-- <div class="col-xl-2 col-lg-2">
                                <div class="product-content">
                                    Time Limit
                                </div>
                            </div> -->
                            <div class="col-xl-2 col-lg-2">
                                <div class="product-content">
                                    Image
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-2">
                              <div class="product-content">
                                    Created Date
                              </div>
                          </div>
                           
                            <div class="col-xl-3 col-lg-3 text-left">
                                <div class="product-content">
                                    Action
                                </div>
                            </div>
                        </div>
                    </div>
                    {% for rec in records %}
                        <!-- prodcut box  -->
                        <div class="product-box user-level gymIndexData bx-sd mb-1">
                            <div class="row">
                                <div class="col-xl-1 col-lg-1">
                                    <div class="product-content">
                                        <h3>{{ start_index|add:forloop.counter0 }}</h3>
                                    </div>
                                </div>

                                <div class="col-xl-2 col-lg-2">
                                    <div class="product-content">
                                    <a href="{% url 'appdashboard:badge-detail' id=rec.id %}"><h3>{{ rec.name  }}</h3></a>
                                </div>
                            </div>   
                            <div class="col-xl-2 col-lg-2">
                                <div class="product-content">
                                     <h3>{{ rec.badge_category  }}</h3>
                                    </div>
                             </div>   
                             <!-- <div class="col-xl-2 col-lg-2">
                                 <div class="product-content">
                                    <h3 class="captilize">{{ rec.time_limit  }}</h3>
                                </div>
                            </div>                           -->
                                <div class="col-xl-2 col-lg-2">
                                    <div class="product-content">
                                        {% if rec.image %}
                                            <a data-fancybox data-small-btn="true" class="person-image" href="{{ rec.image.url }}"><img
                                                src="{{ rec.image.url }}" width="64" height="64"></a>
                                        {% else %} 
                                            <h3>None</h3>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-xl-2 col-lg-2">
                                 <div class="product-content">
                                     <h3>{{ rec.created_at| to_default_timezone  }}</h3>
                                 </div>
                             </div>      
                                <div class="col-xl-3 col-lg-3 user-activity">
                                <!-- <button type="button" class="btn btn-detail" onclick="editPopup({{ rec.id }},'{{ rec.image.url }}')">Edit</button> -->
                                <a href="{% url 'appdashboard:badge-addEdit' id=rec.id %}">
                                    <button type="button" class="btn btn-detail" >Edit</button>
                                </a>
                                <button type="button" onclick="statusChange('{{rec.id}}',{% if rec.is_active == 0 %}'enable'{% else %}'disable'{% endif %})" {% if rec.is_active == 0 %} class="btn btn-detail" {% else %} class="btn btn-detail disb_btn" {% endif %} id="statusBtn_{{rec.id}}" >
                                    {% if rec.is_active == 0 %} 
                                        Enable
                                    {% else %}
                                        Disable
                                    {% endif %}
                                </button>
                            </div>

                                <div class="col-xl-2 col-lg-3 text-center">
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <div class="col-xl-12 col-lg-3 text-center mt-3">
                            <h5>No Records</h5>
                        </div>
                    {% endfor %}

                    {% if records %}
                    <div class="row">
                        <div class="col-sm-6 mt-3 pagination-count">Showing <span>{{ start_index }}</span> to <span>{{ end_index }}</span> of <span>{{ count }}</span> entries</div>
                        
                        <div class="col-sm-6 mt-3">
                            <nav aria-label="Page navigation ">
                                <ul class="pagination justify-content-end">
                                    {% for i in page_range %}
                                    <li id="pagination-count{{i}}"
                                        class="page-item"><a
                                            class="{% if i  == page %} activedata {% endif %} page-link" href="?page={{ i }}{{ params }}">{{i}}</a></li>
                                    {% endfor %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                    {%endif%}

                </div>                
            </div>
        </div>
        </div>
        <!-- right side content box  -->
        </div>
    </main>
    
<!-- prodcut box  end-->
{% endblock body_block %}

{% block page_script %}
<script src="{% static 'admin/assets/js/jquery.sumoselect.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        flatpickr("#stDate", {
            allowInput: true,
            dateFormat: "Y-m-d",
            maxDate: "today",
        });
        flatpickr("#endDate", {
            allowInput: true,
            dateFormat: "Y-m-d",
            maxDate: "today",
        });

        function statusChange(id,msg)
            {
                Swal.fire({
                    title: 'Are you sure?',  
                    text: 'Do you want to '+msg+' this badge!',  
                    type: 'warning',
                    confirmButtonText: 'Yes',
                    confirmButtonColor: 'LightSeaGreen',
                    cancelButtonColor: 'Crimson',
                    cancelButtonText: 'No',
                    showCancelButton: true,
                    // reverseButtons: true
                })
                .then(function(e){
                    if (e.value === true) {
                    data = {}
                    data['userid'] = id
                    $.ajax({
                        type:'PUT',
                        url: '/sec-access/badge-enabledisable/',
                        data: data,
                        success: function(response){
                            Swal.fire({
                                type: 'success',
                                icon: 'success',
                            showConfirmButton: false,
                            title: response.msg,
                            timer: 2000
                        });

                        var btnid = '#statusBtn_'+id;
                        if(msg == 'enable'){
                            $(btnid).text('DISABLE');
                            $(btnid).addClass('disb_btn')
                            $(btnid).attr('onclick', 'statusChange('+id+',"disable")');
                        }
                        else{
                            $(btnid).text('ENABLE');
                            $(btnid).removeClass('disb_btn')
                            $(btnid).attr('onclick', 'statusChange('+id+',"enable")');
                        }
                    }
                })
                
            }
        })
        }

        $("#sbmit").click(function()
        {
            search = $('#name').val()
            category = $('#category').val()
            timelimit = $('#timelimit').val()
            stDate = $('#stDate').val()
            endDate = $('#endDate').val()
            date_flag = 0

            if(stDate != '' && endDate != ''){
                date_flag=1
            }
            else{
                if(stDate!='' && endDate ==''){
                    $('#error_msg2').text('You cannot leave to date empty')
                    date_flag = 0
                    return false
                }
                else if(stDate =='' && endDate !=''){
                    $('#error_msg2').text('You cannot leave from date empty')
                    date_flag = 0
                    return false
                }
                else  if(stDate =='' && endDate ==''){
                    date_flag = 0
                }
            }
           
            if (search == '' && category =='' && date_flag == 0 && timelimit=='')
            {
                if ($('.filter-wrapper').hasClass('active')) {
                    $('#error_msg2').text('Choose any filtering option')
                    $('#error_msg').text('')
                } 
                else {
                    $('#error_msg').text('Choose any filtering option')
                    $('#error_msg2').text('')
                }
                return false;
            }
        })  

    </script>
        <style>
            .popupInput{
                width:230%;
            }
            #error_msg2{
                color:red;
                font-size: 14px;
            }
           .modal {
                display: none; /* Hidden by default */
                position: fixed; /* Stay in place */
                left: 0;
                top: 0;
                width: 100%; /* Full width */
                height: 100%; /* Full height */
                overflow: auto; /* Enable scroll if needed */
                background-color: rgb(0,0,0); /* Fallback color */
                background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
            }

            /* Modal Content/Box */
            .modal-content {
                background-color: #fefefe;
                margin: 6% auto;
                padding: 3% 3.3%;
                border: 1px solid #888;
                max-width: 90%;
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                overflow-x: hidden;
                overflow-y: auto;
            
            }
            .modal-header{
                width: 100%;
                padding: 0;
                padding-bottom: 20px;
            }
            .alert-container{
                position: absolute;
                top: 45%;
                left: 20%;
                right: auto;
                margin: auto;
                width: 75%;
                height: 20px;
                padding: 30px;
            }
            .alert-container .alert{
                justify-content: center;
                padding: 20px 20px;
            }
            .alert-container .alert-success{
                border-radius: 12px;
                border: 1px solid #117054;
            }
            .submmitBtn{
                display: flex;
                justify-content: center;
            }
            button.close {
                background: transparent;
                border: 0;
                font-size: 32px;
                line-height: 32px;
            }
            .captilize{
            text-transform: capitalize;
        }
          
        </style>
        {% if messages %}
        {% for message in messages %}
            <script> 
            Swal.fire({
               type: 'success',
               icon: 'success',
               showConfirmButton: false,
               title:'{{message}}'
               });
               setTimeout(function(){
                window.location.reload(1);
                }, 1000);
            </script>
        {% endfor %}
    {% endif %}
{% endblock %}
   