{% extends "admin/layout/user_base.html" %}
{% load static %}
{% block body_block %}
{% load my_filters %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <main class="content-area">
        <div class="container-fluid p-0">
            <!-- top search bar -->
            <div class="top-seach-bar mb-0">
                <!-- top bar form  -->
                <form class="search-form mt-2">
                    {% csrf_token %}
                    <div class="add-product-filter user_table_product_filter">
                        <div class="row align-items-center">
                            <div class="col-xl-2 col-lg-2">
                                <h3 class="top-bar-heading">Exercise</h3>
                            </div>
                            <div class="col-xl-10 col-lg-10">
                                <div class=" row_2 align-items-top justify-content-end ">
                                    <!-- <div class="row align-items-top justify-content-end" style=" gap: 10px;"> -->
                                    <div class="top-search-wrapper">
                                        <div class="form-group">
                                            <input type="text" name="search" id="search" value="{{ search }}"
                                                   class="form-control " placeholder="Search Name">
                                        </div>
                                        <div><span id="error_msg"></span></div>
                                    </div>
                                    
                                    <div class="table-filter">
                                        <div class="filter-box">
                                            <p>More Filters</p>
                                            <img src="{% static 'admin/img/filter_icon.svg' %}"/>
                                            
                                        </div>
                                        <div class="filter-wrapper ">
                                            <div class="filter-title">
                                                <!-- <h5>Sort By</h5> -->
                                                <div><span id="error_msg2"></span></div>
                                                <span class="close-filter">×</span>
                                            </div>
                                            <ul class="filter-list"> 
                                                <li class="filter-item">
                                                    <div class="top-select-wrapper ">
                                                        <div class="form-group">
                                                            <select class="form-control filter-select" name="category" id="category">
                                                                <option value="0">Select Category</option>
                                                                {% for catgry in category %}
                                                                    <option value="{{ catgry.id }}"
                                                                            {% if category_selected == catgry.id %}selected{% endif %}>{% if catgry.name %}{{ catgry.name }}{% else %}{{ catgry.name_ar }}{% endif %}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="filter-item two-item-filter">
                                                    <div class="date-selector-wrapper">
                                                        <div class="form-group">
                                                          <input type="text" name="stDate" value="{{ request.GET.stDate }}" class="form-control" id="stDate" placeholder="From Date">
                                                        </div>
                                                    </div> 
                                                    <div class="date-selector-wrapper">
                                                        <div class="form-group">
                                                          <input type="text" name="endDate" value="{{ request.GET.endDate }}" class="form-control" id="endDate" placeholder="To Date">
                                                        </div>
                                                    </div> 
                                                </li>
                                            </ul>
                                        </div>
                                    </div>                               
                                    <div class=" top-action-wrapper d-flex align-items-top">
                                        <button type="submit" class="btn btn-detail " id="sbmit">Filter</button>
                                        <a href="{% url 'appdashboard:exercise'%}" class="reset">Reset</a>
                                        <a href="{% url 'appdashboard:exercise-add'%}">
                                            <button type="button" class="btn btn-detail">Create</button>
                                        </a>
                                    </div>
                                </div>

                            </div>
                            <!-- <div><span id="error_msg"></span></div> -->
                        </div>
                    </div>
                </form>
                
            </div>

            <!-- top bar form  end-->
        </div>
        <!-- top search bar end-->

        <!-- right side content box  -->
        <div class="main-box pd-0">

            <div class="add-product-sec">
                <div class="product-area-list">
                </div>
                <div class="product-area-list list-head" >
                    <div class="product-box-heading gymIndexData bx-sd mb-1">
                        <div class="row">
                            <div class="col-xl-1 col-lg-1">
                                <div class="product-content">
                                    SL
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-2">
                                <div class="product-content">
                                    Name
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-2 text-left">
                              <div class="product-content">
                                    Category
                              </div>
                          </div>
                        
                            <div class="col-xl-2 col-lg-2 text-center">
                                <div class="product-content">
                                    Introduction Video
                                </div>
                            </div>

                            <div class="col-xl-1 col-lg-1 text-center">
                                <div class="product-content">
                                    Image
                                </div>
                            </div>

                            <div class="col-xl-1 col-lg-1">
                                <div class="product-content">
                                    Created Date
                                </div>
                            </div>


                            <div class="col-xl-3 col-lg-3 text-left">
                                <div class="product-content">
                                    Action
                                </div>
                            </div>
                        </div>
                    </div>
                    {% for rec in records %}
                        <!-- prodcut box  -->
                        <div class="product-box gymIndexData user-level bx-sd mb-1">
                            <div class="row" id="div{{rec.id}}">

                                <div class="col-xl-1 col-lg-1">
                                    <div class="product-content">
                                        <h3>{{ start_index|add:forloop.counter0 }}</h3>
                                    </div>
                                </div>
                                <div class="col-xl-2 col-lg-2">
                                    <div class="product-content">
                                        <a href="{% url 'appdashboard:exercise-detail' id=rec.id %}"><h3>{% if rec.exercise_name %}{{ rec.exercise_name }}{% else %}{{ rec.exercise_name_ar }}{% endif %}</h3></a>
                                    </div>
                                </div>
                                <div class="col-xl-2 col-lg-2">
                                 <div class="product-content">
                                     <h3>{% if rec.category.name %}{{ rec.category.name }}{% else %}{{ rec.category.name_ar }}{% endif %}</h3>
                                 </div>
                             </div>   
                             <div class="col-xl-2 col-lg-2 text-center">
                                <div class="product-content">
                                    <a data-fancybox data-small-btn="true" href="{{ rec.introduction_video.url }}">
                                        {% if rec.introduction_video %}
                                        <div id="show-up-vid" class="video_up_status_div"
                                                style="margin-top: 10px">
                                            <a data-fancybox data-small-btn="true" class="popup-youtube"
                                                href="{{ rec.introduction_video.url }}" style="width:5px;">
                                                <img src="{% static 'images/play-button.png' %}"
                                                        style="width: 35px;">
                                            </a>
                                        </div>
                                        {% else %} 
                                        <h3>None</h3>
                                        {% endif %}
                                    </a>
                                </div>
                            </div>   
                            <div class="col-xl-1 col-lg-1 text-center">
                                <div class="product-content" style="height: 40px;">
                                    {% if rec.thumbnail %}
                                    <a data-fancybox data-small-btn="true" class="popup-image person-image" href="{{ rec.thumbnail.url }}" >
                                        <img src="{{ rec.thumbnail.url }}"  ></a>
                                    {% else %} 
                                        <h3>None</h3>
                                    {% endif %}
                                </div>
                            </div>   

                            <div class= "col-xl-1 col-lg-1">
                                <div class="product-content">
                                    <h3 class="no-trim">{{ rec.created_at | to_default_timezone }}</h3>
                                </div>
                            </div>
                                                       
                             <div class="col-xl-3 col-lg-3 user-activity">
                                <a href="{% url 'appdashboard:exercise-edit' rec.id %}">
                                    <button type="button" id="btnEdit" data-id ={{rec.id}} class="btn btn-detail">Edit</button>
                                </a>

                                <button type="button" onclick="statusChange('{{rec.id}}',{% if rec.is_active == 0 %}'enable'{% else %}'disable'{% endif %})" {% if rec.is_active == 0 %} class="btn btn-detail" {% else %} class="btn btn-detail disb_btn" {% endif %} id="statusBtn_{{rec.id}}" >
                                    {% if rec.is_active == 0 %} 
                                        Enable
                                    {% else %}
                                        Disable
                                    {% endif %}
                                </button>
                            </div>


                               
                            </div>
                        </div>
                    {% empty %}
                        <div class="col-xl-12 col-lg-3 text-center mt-3">
                            <h5>No Records</h5>
                        </div>
                    {% endfor %}
                    
                    {% if records %}
                    <div class="row">
                        <div class="col-sm-6 mt-3 pagination-count">Showing <span>{{ start_index }}</span> to <span>{{ end_index }}</span> of <span>{{ count }}</span> entries</div>

                        <div class="col-sm-6 mt-3">
                            <nav aria-label="Page navigation ">
                                <ul class="pagination justify-content-end">
                                    {% for i in page_range %}
                                    <li id="pagination-count{{i}}"
                                        class="page-item"><a
                                            class="{% if i  == page %} activedata {% endif %} page-link" href="?page={{ i }}{{ params }}">{{i}}</a></li>
                                    {% endfor %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <!-- prodcut box  end-->
            </div>
        </div>
        </div>
        <!-- right side content box  -->
        </div>
    </main>
{% endblock  %}

{% block page_script %}
<script src="{% static 'admin/assets/js/jquery.sumoselect.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
    flatpickr("#stDate", {
      allowInput: true,
      dateFormat: "Y-m-d",
      maxDate: "today",
    });
    flatpickr("#endDate", {
      allowInput: true,
      dateFormat: "Y-m-d",
      maxDate: "today",
    });endDate
    
    function statusChange(id,msg)
                    {
                        Swal.fire({
                            title: 'Are you sure?',  
                            text: 'Do you want to '+msg+' this exercise!',    
                            type: 'warning',
                            confirmButtonText: 'Yes',
                            confirmButtonColor: 'LightSeaGreen',
                            cancelButtonColor: 'Crimson',
                            cancelButtonText: 'No',
                            showCancelButton: true,
                            // reverseButtons: true
                        })
                        .then(function(e){
                            if (e.value === true) {
                            data = {}
                            data['userid'] = id
                            $.ajax({
                            type:'PUT',
                            url: '/sec-access/exercise-enabledisable/',
                            data: data,
                            success: function(response){
                                Swal.fire({
                                    type: 'success',
                                    icon: 'success',
                                    showConfirmButton: false,
                                    title: response.msg,
                                    timer: 2000
                                });

                                var btnid = '#statusBtn_'+id;
                                if(msg == 'enable'){
                                    $(btnid).text('DISABLE');
                                    $(btnid).addClass('disb_btn')
                                    $(btnid).attr('onclick', 'statusChange('+id+',"disable")');
                                }
                                else{
                                    $(btnid).text('ENABLE');
                                    $(btnid).removeClass('disb_btn')
                                    $(btnid).attr('onclick', 'statusChange('+id+',"enable")');
                                }
                            }
                        })
                        
                    }
                })
                }
            
        $("#sbmit").click(function()
        {
            category = $('#category').val()
            search = $('#search').val()
            stDate = $('#stDate').val()
            endDate = $('#endDate').val()
            date_flag = 0
            if(stDate != '' && endDate != ''){
                date_flag=1
            }
            else{
                if(stDate!='' && endDate ==''){
                    $('#error_msg2').text('You cannot leave to date empty')
                    date_flag = 0
                    return false
                }
                else if(stDate =='' && endDate !=''){
                    $('#error_msg2').text('You cannot leave from date empty')
                    date_flag = 0
                    return false
                }
                else  if(stDate =='' && endDate ==''){
                    date_flag = 0
                }
            }
            if (search == '' && category == 0 && date_flag == 0 )
            {
                if ($('.filter-wrapper').hasClass('active')) {
                    $('#error_msg2').text('Choose any filtering option')
                    $('#error_msg').text('')
                } 
                else {
                    $('#error_msg').text('Choose any filtering option')
                    $('#error_msg2').text('')
                }
                return false;
            }
        })  

    </script>
    <script>
        $(document).ready(function(){
            var updated = localStorage.getItem('updated')
            if (updated){
                $("#div"+localStorage.getItem('data')).css('background','#5b94bd')
                setTimeout(function () {
                    $("#div"+localStorage.getItem('data')).css('background','')
                    localStorage.removeItem('updated')
                    localStorage.removeItem('data')
                 }, 2000);
            }
        })
        $("#btnEdit").click(function(){
            var data_id = $(this).attr('data-id')
            localStorage.setItem('data', data_id)
        })

        $('.popup-youtube').fancybox({
           width  : 500,
           height : 500,
           autoSize : false
           });
        $('.popup-image').fancybox({
        width  : 500,
        height : 500,
        autoSize : false
        });
    </script>
        <style>
           
            #error_msg{
            color:red;
            }
            #error_msg2{
                color:red;
                font-size: 14px;
            }
            .alert-container{
                position: absolute;
                top: 45%;
                left: 20%;
                right: auto;
                margin: auto;
                width: 75%;
                height: 20px;
                padding: 30px;
            }
            .alert-container .alert{
                justify-content: center;
                padding: 20px 20px;
            }
            .alert-container .alert-success{
                border-radius: 12px;
                border: 1px solid #117054;
            }
        </style>
        {% if messages %}
        {% for message in messages %}
        {% if message.tags == "success" %}
            <script> 
            Swal.fire({
               type: 'success',
               icon: 'success',
               showConfirmButton: false,
               title:'{{message}}'
               });
               setTimeout(function(){
                window.location.reload(1);
                }, 1000);
            </script>
        {% endif %}
        {% if message.tags == "info" %}
            <script> 
            Swal.fire({
               type: 'error',
               icon: 'info',
               showConfirmButton: false,
               title:'{{message}}'
               });
               setTimeout(function(){
                window.location.reload(1);
                }, 1000);
            </script>
        {% endif %}
        {% if message.tags == "error" %}
            <script> 
            Swal.fire({
               type: 'error',
               icon: 'danger',
               showConfirmButton: false,
               title:'{{message}}'
               });
               setTimeout(function(){
                window.location.reload(1);
                }, 1000);
            </script>
        {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}
   