{% extends "admin/layout/user_base.html" %}
{% load static %}
{% block body_block %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <main class="content-area">
        <div class="container-fluid p-0">
            <div class="log-in-side-2">
                <div class="form-box">
                    <div class="card">
                        <div class="form-box-inner">
                            <div>
                                <div class="log-head">
                                    <h1 class=" mb-3">Equipment</h1>
                                </div> 
                                <!-- log in form area -->
                                <div class="">
                                    <form class="row" id="equipmentForm" autocomplete="off" method="post"  enctype="multipart/form-data" action="/sec-access/equipments-add/">
                                        {% csrf_token %}
                                        <div class="tabs">
                                            <ul id="tabs-nav">
                                                <li id="englishli"><a href="#tab1" id="english">ENGLISH</a></li>
                                                <li id="arabicli"><a href="#tab2" id="arabic">ARABIC</a></li>

                                            </ul> <!-- END tabs-nav -->
                                            <div id="tabs-content">
                                                <div id="tab1" class="tab-content">
                                                    <div class="mb-4 col-sm-12">
                                                        <div class="input-wrapper">
                                                            <label class="float" for="name">Name (in English)</label>
                                                            {{ form.equipment_name }}
                                                            <p class="text-danger errormsg ermsg1 invalid-field mt-2 mb-0" id="name_error">{{ form.equipment_name.errors.as_text  }}</p>
                                                        </div>
                                                    </div>
                                                    <div class="mb-4 col-sm-12">
                                                        <div class="input-wrapper">
                                                            <label class="float" id="descDiv" for="address">Description (in English)</label>
                                                            {{ form.media }}
                                                            {{ form.description|safe }}
                                                            <p class="text-danger mt-2 mb-0" id="desc_error"></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="tab2" class="tab-content">
                                                    <div class="mb-4 col-sm-12">
                                                        <div class="input-wrapper">
                                                            <label class="float" for="name_ar">Name (in Arabic)</label>
                                                            {{ form.equipment_name_ar }}
                                                            <p class="text-danger errormsg ermsg1 invalid-field mt-2 mb-0" id="name_error_ar">{{ form.equipment_name_ar.errors.as_text  }}</p>
                                                        </div>
                                                    </div>

                                                    <div class="mb-4 col-sm-12">
                                                        <div class="input-wrapper"> 
                                                            <label class="float" for="address_ar">Description (in Arabic)</label>
                                                            {{ form.media }}
                                                            {{ form.description_ar|safe }}
                                                           
                                                            <p class="text-danger mt-2 mb-0" id="desc_error_ar"></p>

                                                        </div>
                                                    </div>
                                                </div>
                                            
                                                <div class="mb-4 col-sm-12">
                                                    <div class="input-wrapper image-field">
                                                        <label for="user" class="float">QR code</label>
                                                        <div class="image-filed">
                                                            <!-- {{ form.qr_code }} -->
                                                            <a  id="generateqrcode" class="btn btn-primary qr-generate" onclick="qrcode()">Generate QR Code</a>
                                                        </div>
                                                        
                                                        <p class="text-danger mt-2 mb-0"  id="qrcode_err">{{ form.qr_code.errors.as_text }}</p>
                                                    </div>
                                                    <img name="qrcode-img" id="qrcode-img" src="{{ qr_code }}" width="100px">
                                                    <input type="hidden" name="qrcodeid" id="qrcodeid">   
                                                </div>
                                                <div class="mb-4 col-sm-12">
                                                    <div class="input-wrapper image-field">
                                                        <label for="user">Image</label>
                                                        <div class="image-filed">
                                                            {{ form.equipment_image }}
                                                        </div>

                                                        <p class="text-danger mt-2 mb-0" id="image_error">{{ form.equipment_image.errors.as_text }}</p>
                                                    </div>
                                                    {% if form.introduction_video %}
                                                        <img src="{{ form.equipment_image.value.url }}"
                                                             width="100px"> {% endif %}
                                                </div>
                                                    <div class="mb-4 col-sm-12">
                                                        <div class="input-wrapper image-field">
                                                            <label for="user">Introduction Video</label>
                                                            <div class="image-filed">
                                                                {{ form.introduction_video }}
                                                            </div>

                                                            <p class="text-danger mt-2 mb-0" id="intro">{{ form.introduction_video.errors.as_text }}</p>
                                                        </div>
                                                        {% if form.introduction_video %}
                                                            <img src="{{ form.introduction_video.value.url }}"
                                                                 width="100px"> {% endif %}
                                                    </div>
                                                
                                                <div>
                                                        <button type="button" id ="saveBtn" onclick="validate()" class="btn btn-lg btn-primary">Save
                                                        </button>

                                                    </div>
{#                                                </div>#}

                                            </div> <!-- END tabs-content -->
                                        </form>
                                        </div> <!-- END tabs -->

                                    <!-- {% if messages %}
                                        {% for message in messages %}
                                            <div class="alert-container">
                                                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}"
                                                     role="alert">{{ message|lower|capfirst }}</div>
                                            </div>
                                        {% endfor %}
                                    {% endif %} -->
                                </div>
                                <!-- log in form area end -->
                            </div>
                        </div>
                    </div>
                    <input id="isqrcodegenerated" type="hidden" value="0">
                </div>
            </div>
        </div>
    </main>
    <style>
        .django-ckeditor-widget{
            display: block !important;
        }
    </style>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.js"></script>

    <script>
        
        CKEDITOR.on('instanceReady', function(event) {
            var editor = event.editor;
            if (editor.element.getAttribute('name') === 'description_ar') {
                editor.document.getBody().setStyle('direction', 'RTL');
                // editor.document.getBody().setStyle('text-align', 'right');
            }
        });

        // check for user exist
        function checkExisit(type){
            if(type == 'english'){
                val = $('#id_equipment_name').val()
            }
            else if(type == 'arabic'){
                val = $('#id_equipment_name_ar').val()
            }
            if( val != ''){
                data = {}
                data['name'] = val
                data['type'] = type
                $.ajax({
                    type:'PUT',
                    url: '/sec-access/equipment-check-nameexist/',
                    data: data,
                    success: function(response){
                        console.log(response.exist)
                        if(response.exist > 0){
                            if(type == 'english'){
                                $('#name_error').text('Equipment with same name already exists')
                                $('#saveBtn').attr('disabled', true);
                            }
                            else if(type == 'arabic'){
                                $('#name_error_ar').text('Equipment with same name already exists')
                                $('#saveBtn').attr('disabled', true);
                            }
                        }
                        else{
                            $('#name_error').text('')
                            $('#name_error_ar').text('')
  
                            $('#saveBtn').attr('disabled', false);

                        }

                    }
                })
            }

        }

        $.validator.addMethod("checkname", function(value) {
            return /^[a-zA-Z\s]+$/.test(value);
        });

        function validate(){
            error_flag=0;
            var editor = $.trim($("#cke_desc_editor iframe").contents().find("body").text());
            var editor2 = $.trim($("#cke_id_description_ar iframe").contents().find("body").text());

            // for name_en
            if( $('#id_equipment_name').val() == '')
            {
                $('#name_error').text('This field is required')
                $('#id_equipment_name').focus()
                
                $(".tab-content").hide();
                $("#tab1").show();
                $('#englishli').addClass('active')
                $('#arabicli').removeClass('active')
                // $('#id_equipment_name').css({'border': '1px solid red'});
                error_flag++;
            }
            else if($('#id_equipment_name').val().length < 3)
            {
                $('#name_error').text('Name must contain atleast 3 character')
                // $('#id_equipment_name').css({'border': '1px solid red'});
                $('#id_equipment_name').focus()
                $(".tab-content").hide();
                $("#tab1").show();
                $('#englishli').addClass('active')
                $('#arabicli').removeClass('active')
                error_flag++;
            }
            else{
                $('#name_error').text('')
                // $('#id_equipment_name').css({'border': '1px solid #D8D8D8'});
                
                // for name_ar
                if( $('#id_equipment_name_ar').val() == '')
                {
                    $('#name_error_ar').text('This field is required')
                    
                    $(".tab-content").hide();
                    $("#tab2").show();
                    $('#englishli').removeClass('active')
                    $('#arabicli').addClass('active')
                    // $('#id_equipment_name_ar').css({'border': '1px solid red'});
                    $('#id_equipment_name_ar').focus()

                    error_flag++;
                }
                else if($('#id_equipment_name_ar').val().length < 3)
                {
                    $('#name_error_ar').text('Name must contain atleast 3 character')
                    // $('#id_equipment_name_ar').css({'border': '1px solid red'});
                    $(".tab-content").hide();
                    $("#tab2").show();
                    $('#englishli').removeClass('active')
                    $('#arabicli').addClass('active')

                    $('#id_equipment_name_ar').focus()
                    error_flag++;
                }
                else{
                    $('#name_error_ar').text('')
                    // $('#id_equipment_name_ar').css({'border': '1px solid #D8D8D8'});
    
                }
            }

            // for description_en
            if( editor == '')
            {
                $('#desc_error').text('This field is required')
                // $("#cke_desc_editor iframe").css({'border': '1px solid red'});
                $(".tab-content").hide();
                $("#tab1").show();
                $('#englishli').addClass('active')
                $('#arabicli').removeClass('active')
                error_flag++;
            }
            else if(editor.length < 3)
            {
                $('#desc_error').text('Description must contain atleast 3 character')
                // $("#cke_desc_editor iframe").css({'border': '1px solid red'});
                $(".tab-content").hide();
                $("#tab1").show();
                $('#englishli').addClass('active')
                $('#arabicli').removeClass('active')
                error_flag++;
            }
            else{
                $('#desc_error').text('')
                // $('#cke_desc_editor iframe').css({'border': '1px solid #D8D8D8'});

                // for description_ar
                if( editor2 == '')
                {
                    $('#desc_error_ar').text('This field is required')
                    // $("#cke_desc_editor iframe").css({'border': '1px solid red'});
                    $(".tab-content").hide();
                    $("#tab2").show();
                    $('#englishli').removeClass('active')
                    $('#arabicli').addClass('active')
                    error_flag++;
                }
                else if(editor2.length < 3)
                {
                    $('#desc_error_ar').text('Description must contain atleast 3 character')
                    // $("#cke_desc_editor iframe").css({'border': '1px solid red'});
                    $(".tab-content").hide();
                    $("#tab2").show();
                    $('#englishli').removeClass('active')
                    $('#arabicli').addClass('active')
                    error_flag++;
                }
                else{
                    $('#desc_error_ar').text('')
                    // $('#cke_desc_editor iframe').css({'border': '1px solid #D8D8D8'});
                }

            }
         
            // for qr code
            if($('#isqrcodegenerated').val() == '0'){
                $('#qrcode_err').text('Qr code is mandatory')
                // $('#id_equipment_image').focus()
                // $('#id_equipment_image').css({'border': '1px solid red'});

                error_flag++;
            }
            else{
                $('#qrcode_err').text('')
            }


            // for image
            if($('#id_equipment_image').val() == ''){
                $('#image_error').text('This field is required')
                $('#id_equipment_image').focus()
                // $('#id_equipment_image').css({'border': '1px solid red'});

                error_flag++;
            }
            else{
                extn = ['jpg', 'jpeg', 'png', 'gif']
                file = $('#id_equipment_image').val()
                var ext = file.split('.').pop();
                ext = ext.toLowerCase()
                if ($.inArray(ext, extn) == -1){
                    $('#id_equipment_image').focus()
                    $('#image_error').text('Unsupported file extension. Only .jpg, .jpeg, .png and .gif are allowed.')
                    // $('#id_equipment_image').css({'border': '1px solid red'});
                    error_flag++;
                }
                else{
                    $('#image_error').text('')
                    // $('#id_equipment_image').css({'border': '1px solid #D8D8D8'});

                }
                
            }

            // for video
            if($('#id_introduction_video').val() == ''){
                $('#intro').text('This field is required')
                $('#id_introduction_video').focus()
                // $('#id_introduction_video').css({'border': '1px solid red'});

                error_flag++;
            }
            else{
                extn = ['mp4', 'mov', 'wmv']
                file = $('#id_introduction_video').val()
                var ext = file.split('.').pop();
                ext = ext.toLowerCase()
                if ($.inArray(ext, extn) == -1){
                    $('#intro').text('Unsupported file extension. Only .mp4, .mov and .wmv are allowed.')
                    $('#id_introduction_video').focus()
                    // $('#id_introduction_video').css({'border': '1px solid red'});
                    error_flag++;
                }
                else{
                    var fileInput = $('#id_introduction_video')[0]; // Get the file input element
                    var file = fileInput.files[0]; // Get the selected file
                    
                    if (file) {
                    // Check the file size
                        if (file.size > 5 * 1024 * 1024) {
                            $('#intro').text('File is too large . Maximum file size allowed is 5Mb')
                            $('#id_introduction_video').focus()
                            error_flag++
                        }
                        else{
                            $('#intro').text('')
                        }
                    }
                }
                
            }

            if(error_flag == 0){
            
                $('#equipmentForm').submit();
            }
        }

        function changeError(id){
            $('#'+id).text('')
        }
        
            
        
            function equipmentvalidate()
            {
            var name = document.getElementById('id_name').value;
            var name_ar = document.getElementById('id_name_ar').value;
            if (name)
            {
                var allEditors = CKEDITOR.instances['id_description'].getData();
                html = $(allEditors).text();
                if (!html) {
                    $('.errortxt1').show();
                    return false
                } 
                else {
                    return true
                }
            }
            else if(name_ar)
            {
                var allEditors = CKEDITOR.instances['id_description_ar'].getData();
                html = $(allEditors).text();
                if (!html) {
                    $('.errortxt2').show();
                    return false
                } else {
                    return true
                }
            }
        };

        // qrcode
        function qrcode()
        {
            $.ajax({
            type: "GET",
            url: '/sec-access/generateqrcode/',
            success:function(response){
                var qrcode_id = response.qr_unique_id;
                var imageData = response.qr_code;
                var imageType = "image/png";
                var image = new Image();
                image.src = "data:" + imageType + ";base64," + imageData;
                var qrcodeimg = document.getElementById("qrcode-img");
                qrcodeimg.src = image.src;
                var qrcodeid = document.getElementById("qrcodeid");
                qrcodeid.value = qrcode_id
                $('#isqrcodegenerated').val('1')
                
            }
        });
  
        }
    </script>

{% endblock body_block %}
{% block page_script %}

{% endblock %}